---
import { getCollection, render } from "astro:content";
import Page from "../../layouts/Page.astro";
import Toc from "../../components/Toc.astro";

export async function getStaticPaths() {
  const docs = await getCollection("docs");
  return docs.map((doc) => ({
    params: { docSlug: doc.id },
    props: doc,
  }));
}

export const prerender = true;

const doc = Astro.props;
const { Content, headings } = await render(doc);
---

<Page title={doc.data.title} upHref="/docs" upNav="All Docs">
  {
    doc.data.toc && (
      <div class="toc-col">
        <Toc headings={headings} />
      </div>
    )
  }
  <div style="font-size: 0.9em">
    <Content />
  </div>
</Page>

<style>
  .toc-col {
    display: none;

    position: absolute;
    top: 0;
    bottom: 0;
    left: -240px;
    width: 240px;
  }
  @media (min-width: 1280px) {
    .toc-col {
      display: block;
    }
  }
</style>

<script>
  // Expand all <details> elements when printing, restore their state after.
  window.addEventListener("beforeprint", (_) =>
    document
      .querySelectorAll("details:not([open])")
      .forEach((details) => details.setAttribute("open", "print"))
  );
  window.addEventListener("afterprint", (_) =>
    document
      .querySelectorAll("details[open='print']")
      .forEach((details) => details.removeAttribute("open"))
  );
</script>
