---
import { getCollection } from "astro:content";
import Page from "../../layouts/Page.astro";

const docs = (await getCollection("docs")).sort(
    (a, b) => a.data.order - b.data.order,
);

export const prerender = true
---

<Page title="Docs">
    <ul>
        {
            docs.map((doc) => (
                <li>
                    <a href={`/docs/${doc.id}`}>
                        {doc.data.title}: {doc.data.description}
                    </a>
                </li>
            ))
        }
    </ul>
</Page>
