---
import Layout from "../layouts/Layout.astro";
import BenchMap from "../components/BenchMap.astro";
import LinkPreview from "../components/LinkPreview.astro";
import { NEWS } from "../data";

export const prerender = true;

const FIRST_NEWS = (await NEWS)[0]!;
---

<Layout title="SFBA Bench Collective">
  <header>
    <h1>SFBA Bench Collective</h1>
    <p class="subhead">
      When cities fail to provide benches we <strong
        >build and install our own</strong
      >.
    </p>
  </header>
  <main>
    <h3 class="actions">
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSeQPKKgqx_tR4Yp9kNynRpriRlsPerugbziuBVWjTHAdff_Kw/viewform"
        >Report A Problem</a
      >
      &bull;
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSeoh_bZOndFPvSpkW468EsgudlD8OeXM2h7TpL_yCX9HKjH3A/viewform"
        >Request A Bench</a>
    </h3>
    <h2>Bench Map</h2>
    <BenchMap />
    <h2><a href="/news">News</a></h2>
    <LinkPreview url={FIRST_NEWS.url} date={FIRST_NEWS.date} />
  </main>
</Layout>
