---
import Layout from "../layouts/Layout.astro";
import LinkPreview from "../components/LinkPreview.astro";
import { NEWS } from "../data";

export const prerender = true;

const NEWS_ALL = await NEWS;
---

<Layout title="News">
  <header>
    <a href="/">Home</a>
  </header>
  <main>
    <h1>News</h1>
    {NEWS_ALL.map(({ url, date }) => <LinkPreview {url} {date} />)}
  </main>
</Layout>
