---
import Layout from "../layouts/Layout.astro";
import LinkPreview from "../components/LinkPreview.astro";
import { getNews } from "../data";

export const prerender = true;

const NEWS_ALL = await getNews();
---

<Layout title="News">
  <header>
    <a href="/">Home</a>
    <h1>News</h1>
  </header>
  <main>
    {NEWS_ALL.map((props) => <LinkPreview {...props} />)}
  </main>
</Layout>
