---
interface Props {
  href: string;
  [key: string]: string;
}
---

<a {...Astro.props} target="_blank"><slot /></a><style>
  a:after {
    content: url(/img/external_link.png);
    margin: 0 2px 0 2px;
  }
</style>
