---
export type HeadingsTree = {
  text: string;
  slug: string;
  depth: number;
  children: HeadingsTree[];
};

interface Props {
  children: HeadingsTree[];
}
---

<ol>
  {
    Astro.props.children.map((child) => (
      <li>
        <a href={`#${child.slug}`}>{child.text}</a>
        {0 < child.children.length && <Astro.self children={child.children} />}
      </li>
    ))
  }
</ol>

<style lang="scss">
  li {
    list-style-type: none;
    & > a {
      opacity: 0.5;
      transition: opacity 50ms ease-in-out;
    }
  }
  li.active {
    list-style-type: ">";
    & > a {
      opacity: 1;
    }
  }

  ol {
    padding-left: 0;
    margin-left: 20px;

    &:has(> :only-child) {
      /* Hide single-child subsections. */
      display: none;
    }
  }
</style>
