---
import Layout from "../layouts/Layout.astro";
import BenchMap from "../components/BenchMap.astro";
import LinkPreview from "../components/LinkPreview.astro";
import { getNews } from "../data";
import { SHORT_NAME } from "../vars";

export const prerender = true;

const allNews = await getNews();
// Take all news that is within one week of the most recent news.
const recentNews = allNews.filter(
  (news) =>
    allNews[0]!.date.getTime() - news.date.getTime() <= 7 * 24 * 3600 * 1000
);
---

<Layout>
  <header>
    <h1>{SHORT_NAME}</h1>
    <p class="subhead">
      When cities fail to provide benches we <strong
        >build and install our own</strong
      >.
    </p>
  </header>
  <main>
    <h3 class="actions">
      <a href="/join">Join Us!</a>
      &bull;
      <a href="/report">Report A Problem</a>
      &bull;
      <a href="/request">Request A Bench</a>
    </h3>
    <h2>About Us</h2>
    <p>
      The Bench Collective is decentralized collaboration of local residents who
      build, install, and maintain much-needed benches, mainly at bus stops. If
      you would like to add a bench to the map, learn how to build a bench, or
      help a local build, please <a href="/join">join us</a>! If you see a bench
      that has any problems, please <a href="/report">report it</a>!
    </p>
    <h2>Bench Map</h2>
    <BenchMap />
    <h2><a href="/news">News</a></h2>
    {recentNews.map((props) => <LinkPreview {...props} />)}
    <a href="/news">See all news</a>
  </main>
</Layout>
