---
import Layout from './Layout.astro';

const { upHref, upNav, title } = Astro.props;
---

<Layout {...Astro.props}>
  <header>
    <a href={upHref || '/'}>{upNav || "Home"}</a>
    <h1>{title}</h1>
  </header>
  <main style="position: relative;">
    <slot />
  </main>
</Layout>
