---
import Layout from './Layout.astro';

const { upHref, upNav } = Astro.props;
---

<Layout {...Astro.props}>
  <header>
    <a href={upHref || '/'}>{upNav || "Home"}</a>
  </header>
  <main>
    <slot />
  </main>
</Layout>
